################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/210949cd-f4af-46a3-8eed-ae5fb1893b8e.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/2462e13e-c68a-4c3c-8bf3-efb835dfdcf5.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/59bb857f-1ff4-4d81-82a1-ffbce6e5189d.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/c306206a-6ca0-4285-bf44-926254871a78.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/d5943bef-86b7-4cd6-9e50-2be4d3d4a010.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/2c8087b5-3c87-4e4c-9098-0b3694b0ce60.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/51938f4f-215b-46cd-85aa-5fe42256f1d5.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/8b9165ac-b943-4cc9-89c5-e5de58a2ed9c.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/9f5b3812-eb94-476d-8923-fa79869b6783.vsidx
