################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/210949cd-f4af-46a3-8eed-ae5fb1893b8e.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/2462e13e-c68a-4c3c-8bf3-efb835dfdcf5.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/59bb857f-1ff4-4d81-82a1-ffbce6e5189d.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/c306206a-6ca0-4285-bf44-926254871a78.vsidx
/RefactorizarCod/.vs/RefactorizarCod/FileContentIndex/d5943bef-86b7-4cd6-9e50-2be4d3d4a010.vsidx
